.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);

    .header-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo{
        position: relative;
        top: 20px;
        font-size: 40px;
        font-weight: 700;
        color: $color-1;
    }
}

.link{
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: $color-2;
    padding-top: 50px;
    padding-bottom: 10px;
    border-top: 5px solid transparent;

    &.active{
        border-top: 5px solid $color-1;
        color: $color-1;
    }
}