.menu {
    padding-top: 350px;

    .menu-text {
        margin: 70px 0 60px;
        font-size: 23px;
        color: #AEABAB;
    }
}

.menu-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .tab {

        @media(max-width: 768px) {
            width: 100%;
        }

        cursor: pointer;
        font-size: 18px;
        color: $color-3;
        padding: 15px 50px;
        background: #f7f7f7;

        &.active {
            background-color: $color-1;
        }
    }
}

.product-wrapper {

    @media(max-width: 992px) {
        grid-template-columns: 1fr;
    }

    @media(max-width: 480px) {
        grid-template-columns: 1fr;
    }

    display: grid;
    min-height: 430px;
    align-items: start;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
}

.about-img{
    width: 100%;
}

.btn-to-cart {

    @media(max-width: 480px){
        width: 100%;
    }

    position: fixed;
    cursor: pointer;
    right: 10px;
    bottom: 10px;
    font-size: 18px;
    background-color: $color-1;
    border: 0;
    padding: 10px 30px;
}

.menu-text {
    font-size: 18px !important;
}

.pagination {
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 25px 0;
}

.tab-active {
    cursor: pointer;
    font-weight: 700;
    color: $color-1;
}

.page-num {
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
}