$start: 1200px;
$desktop: 992px;
$tablet: 768px;
$mobile: 480px;
$mobile-small: 90%;

$color-1: #E8C300;
$color-2: #F1F1F1;
$color-3: #000000;

$font-1: 'Montserrat', sans-serif;
$font-2: 'Oleo Script', cursive; // Logo
$font-3: 'Orelega One', cursive; // Name section